{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ book_detail.book_name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {% if book_detail %}
                <h1>
                    {{ book_detail.book_name }}
                    <span class="float-right">
                        <span class="btn btn-primary">
                            <a class="open-modal" data-url="{% url 'book_details_edit' book_detail.id %}" style="text-decoration: none; color: white"><i class="far fa-edit"> </i> Edit</a>
                        </span>
                        <span class="btn btn-danger" data-toggle="modal" data-target="#delete_book_confirmation">
                            <i class="far fa-trash-alt"> </i> Delete
                        </span>
                    </span>
                </h1>
                <h3 class="row">
                    <i class="blockquote-footer col-lg-6 col-md-6 col-sm-12">{{ book_detail.author_name }}</i>
                    <p class="col-lg-6 col-md-6 col-sm-12" style="color: gray; font-size: 20px;"><span class="float-right">You read this on: {{ book_detail.book_read_on }}</span></p>
                </h3>
                <hr>
            {% endif %}
        </div>
    </div>

    <div class="row container">
        <div class="container">{% include 'messages.html' %}</div>
        <div class="container-fluid">
            {% if summary %}
                <div class="jumbotron" style="padding: 15px; border-radius: 0px;">
                    <b>Summary:</b> {{ summary }}
                </div>
                <hr>
            {% endif %}
        </div>
        <h3 style="margin-right: 10px;">Chapters</h3> 
        <a id="a_d" class="btn float-right" style="font-size: 25px; color: blue; padding-top: 0;" data-toggle="modal" data-target="#add_chapter"><i class="fas fa-plus" data-toggle="tooltip" title="Add a new chapter"></i></a>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {% if chapters %}
            {% for chapter in chapters %}
                <div class="card btn-block" style="margin-top: 10px; border-radius: 0px; padding: 10px; background-color: #fafafa; color: blue; cursor: pointer;">
                    <div data-toggle="collapse" data-target="#{{ chapter.id }}" style="text-decoration: none;">Chapter {{ chapter.chapter_number }} 
                        <i class="fas fa-caret-down" data-toggle="tooltip" title="Show More"></i>
                        <div class="float-right">
                            <span><a data-url="{% url 'edit_chapter' chapter.id %}" class="chapter-edit-modal"><i class="far fa-edit" data-toggle="tooltip" title="Edit"></i></a></span>
                            <span><a data-toggle="modal" data-target="#delete_chapter_confirmation" data-url="{% url 'delete_chapter' chapter.id %}" id="chapter_data"><i class="far fa-trash-alt" data-toggle="tooltip" title="Delete"></i></a></span>
                        </div>
                    </div>
                    <div class="collapse" id="{{ chapter.id }}">
                        <div class="" style="border-radius: 0;">
                        <div class="row">
                            <div class="col" style=" color: black">
                                <hr>
                                {{ chapter.description }}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"><p><i class="far fa-frown" style="font-size: 30px;"></i></p></div>
                </div>
                <div class="row text-center">
                    <p>
                        Seems like you have just started to read this book. Come on, get a pace 
                        and fill me up
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Delete Book Modal -->
<div class="modal fade" id="delete_book_confirmation">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Confirm Deletion</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row container">
                <h3>Are you sure you want to delete "{{ book_detail.book_name }}"?</h3>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Cancel">
            <button type="button" class="btn btn-danger"><a href="{% url 'delete_single_book' book_detail.id %}" style="text-decoration: none; color: white">Delete</a></button>
        </div>

        </div>
    </div>
</div>

<!-- Delete Chapter Modal -->
<div class="modal fade" id="delete_chapter_confirmation">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Confirm Deletion</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row container">
                <h5>Are you sure you want to delete this chapter?</h5>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Cancel">
            <button type="button" class="btn btn-danger" id="d_c1"><a href="" style="text-decoration: none; color: white">Delete</a></button>
        </div>

        </div>
    </div>
</div>


<!-- The result get appended here -->
<div class="modal-div"></div>

 <!-- Add Chapter Modal -->
 <div class="modal fade" id="add_chapter">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add New Chapter for "{{ book_detail.book_name }}"</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form action="{% url 'add_chapter' %}" method="post">
        <input type="hidden" name="pk" id="pk" value="{{ book_detail.id }}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container">
            {{ add_chapter_form|crispy }}
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <input type="submit" class="btn btn-success" value="Add">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </form>

      </div>
    </div>
  </div>

  {% if form_error %}
  <script>
        $("#add_chapter").modal("show");
  </script>
  {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $(document).on("click", "#chapter_data", function () {
        var url = $(this).data('url');
        $("#d_c1 a").attr("href", url);
    });
</script>

<script>
    var modalDiv = $(".modal-div");
    $(".open-modal").on("click", function() {
    $.ajax({
        type: 'GET',
        url: $(this).attr("data-url"),
        success: function(data) {
            modalDiv.html(data);
            $("#edit_book").modal();
        }
    });
    });
</script>

<script>
    var modalDiv = $(".modal-div");
    $(".chapter-edit-modal").on("click", function() {
    $.ajax({
        type: 'GET',
        url: $(this).attr("data-url"),
        success: function(data) {
            modalDiv.html(data);
            $("#edit_book").modal();
        }
    });
    });
</script>
{% endblock %}